.badge {
  float: left;
  padding: 0.5rem 1rem;
  margin-right: 0.5rem;
  background-color: #efefef;
  &:hover {
    background-color: darken($color: #efefef, $amount: 2.5);
  }
}
.pagination {
  display: block;
  clear: both;
  padding: 30px 0px 0px 0px;
  ul {
    margin: 0;
    display: flex;
    justify-content: center;
    li {
      list-style: none;
      height: 100%;
      a {
        text-decoration: none;
        background-color: #efefef;
        display: block;
        height: 100%;
        padding: 0.5rem 1rem;
        margin: 0 6px 0px 6px;
        &:hover {
          background-color: darken($color: #efefef, $amount: 2.5);
        }
      }
    }
  }
}
